<?xml version="1.0" ?>
<config>
    <modules>
        <Fox_News>
            <version>1.0.0</version>
        </Fox_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>Fox_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <translate>
            <modules>
                <Fox_News>
                    <files>
                        <default>Fox_News.csv</default>
                    </files>
                </Fox_News>
            </modules>
        </translate>
        <layout>
            <updates>
                <fox_news module="Fox_News">
                    <file>fox_news.xml</file>
                </fox_news>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foxnews after="Mage_Adminhtml">Fox_News_Adminhtml</foxnews>
                    </modules>
                </args>
             </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <foxnews>
                    <file>fox_news.xml</file>
                </foxnews>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fox_News>
                    <files>
                        <default>Fox_News.csv</default>
                    </files>
                </Fox_News>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <resources>
            <fox_news_setup>
                <setup>
                    <module>Fox_News</module>
                </setup>
            </fox_news_setup>
            <fox_news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fox_news_write>
            <fox_news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fox_news_read>
        </resources>
        <models>
            <news>
                <class>Fox_News_Model</class>
                <resourceModel>news_resource</resourceModel>
            </news>
            <news_resource>
                <class>Fox_News_Model_Resource</class>
                <entities>
                    <newslist>
                        <table>fox_news</table>
                    </newslist>
                    <newslist_items>
                        <table>fox_news_items</table>
                    </newslist_items>
                </entities>
            </news_resource>
        </models>
        <blocks>
            <news>
                <class>Fox_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>Fox_News_Helper</class>
            </news>
        </helpers>
    </global>
</config>